.Header {
  background-color: #111d5e;
}

.Header .container {
  display: flex;
  justify-content: space-between;
}
.Header-checkout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  width: 30px;
  margin: 0 0 0 0.5em;
}
.Header-alert {
  color: #c0e218;
  font-size: 14px;
  margin-left: 5px;
}
.Header a {
  text-decoration: none;
  color: #c0e218;
}
